@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@200;300;400;600;700&display=swap');

/* Who we are Starts */
/* .who-are-we {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: 10px;
} */
/* .who-are-we-content{ */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
  /*  width: 50%;
    display: flex;
    align-items : flex-start;
    justify-content : flex-start;
    flex-direction: column;
    padding-right: 100px;
    margin-right: 36px;
}
.who-are-we .who-are-we-content   h1 {
    text-align: left;
    margin: 0px 95px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 54px;
}
.who-are-we-content  > h1 > span {
    color: #97B325;
}
.who-are-we-content > p {
    text-align: justify;
    margin : 0px 80px 10px 100px;
    line-height: 25px;
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.who-are-we .who-are-we-content .experienced-team {
        margin-bottom: 25px;
        margin-top: 0px;
        font-weight: 380;
}
.who-are-we-content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.who-are-we-content .btn  > button {
    margin : 10px;
    border: 1px solid green;
    padding: 15px 25px;
    border-radius: 5px;
    /* margin-right: 150px; */
    /* margin-left: -120px; */
 /*   transition: all 0.5s;
    font-size: 20px;
    text-transform: capitalize;
}
.who-are-we-content .btn .btn-portfolio{
    background-color: white;
    margin-left: 100px;
}
.who-are-we-content .btn .btn-get-in-touch{
    background-color: #97B325;
}

.who-are-we-content .btn .btn-portfolio:hover{
    background-color: #97B325;
    
    color: white !important;
}
.who-are-we-content .btn .btn-get-in-touch:hover{
    background-color: #1d242d !important;
    color: white !important;
    
}

.who-are-we-img > img {
    width: 90%;
    height: auto;
}


/* Web Development Section Starts*/
/* .web-development-section{
    /* display: flex;
    justify-content: space-between;
    margin-top: 40px; */
   /* background-color: #f9f9fb;
}

.web-development-section h1 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
    margin-bottom: 5px;
}
.web-development-section h1
 {
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding: 53px 0px;
}
.web-development-section p {
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 0px 357px 39px 357px;
    color: black;
}
.web-development-section p > span {
    font-weight: 600;
}
.get-in-touch{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.web-development .get-in-touch > p {
    font-weight: 500;
}
/* .detail {
    display: flex;
} *//*
.detail ul p{
    font-family: 'Montserrat';
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    line-height: 20px;
    margin: 22px 54px 22px 0px;
    display: inline;
}
.detail img {
    margin: 22px 90px;
}
.detail ul .check-mark {
    color: green;
} */
/* Web Development Section Ends*/

/* Build Together */
/* Build Together */
/*.build-together {
    background-color: #f4f5f7;
}
.build-together > h1 {
    text-align:  center;
    padding: 52px 0px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.build-together-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 50px;
    /* height: 400px; */
    /* border: 2px solid black; */
   /* padding-bottom: 30px;
}
.build-together .contact-form{
    /* border: 2px solid black; */
    /*width: 60vw;
    margin: 11px 0px 0px 21px;
    /* height: 500px; */
   /* background-color: #97B325;
    padding: 20px;
    border-radius: 5px;
}
.build-together .contact-form form {
    /* border: 2px solid black; */
   /* margin: 24px
}
.build-together .contact-form h1 
    {
        margin: 10px 61px 0px 45px;
        font-family: Montserrat;
    }

.build-together .contact-form form input[type=text],
.build-together .contact-form form input[type=submit]{
    border: 2px solid black;
    border-radius: 8px;
    height: 51px;
    width: 90%;
    display: block;
    margin: 20px;
    border: none;
    background: #edf4cf;
}
.build-together .contact-form form input[type=email],
.build-together .contact-form form .number,
.build-together .contact-form form select,
.build-together .contact-form form textarea

{
    border: 2px solid black;
    border-radius: 8px;
    height: 51px;
    width: 41%;
    display: inline;
    margin: 10px 41px 27px 21px;
    border: none;
    background: #edf4cf;
}
.build-together .contact-form form select{
    width: 27%;
    margin-right: 152px;
}

.build-together .contact-form form textarea{
    /* border: 2px solid black; */
   /* width: 90%;
    height: 139px;
}
.build-together .contact-form form input[type=submit]{
    border: 2px solid brown;
    height: 80px;
}
.build-together .build-together-content {
    background-color: white;
    width: 29vw;
    margin-left: -21px;
    margin-top: 10px;
}
.build-together .build-together-content .further-div {
    /* border: 2px solid black; */
   /* border-radius: 13px 13px 13px 13px;
    background-color: transparent;
    background-color: #ffffff;
    border-radius: 13px 13px 13px 13px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px #eeeeee;
    padding: 23px 28px 14px 32px;
    margin: 9px 14px;
    /* height: 179vh; */
  /*  border-radius: 5px;
}
.build-together .build-together-content .further-div h2 {
    margin-bottom: 30px;
    font-family: 'Montserrat';
}
.build-together .build-together-content .further-div ol li {
   display: block;
line-height: 22px;
font-family: 'Montserrat';
font-weight: 500;
margin-bottom: 21px;
}
.build-together .build-together-content .further-div ol li span .portfolio{
    text-decoration: none;
    color: #97B325;
    cursor: pointer;
}
.build-together .build-together-content img{
    margin-left: 244px;
}
    
/* Build Together */
    
/* Build Together */



