@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@200;300;400;600;700&display=swap");

/* Who we are */
/* .who-are-we {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 225px;
    margin-top: 10px 0px 40px 0px;
} */
/* .who-are-we-content{ */
/* display: flex;
    flex-direction: column;
    align-items: center; */
/* justify-content: center; */
/* width: 50%;
    display: flex;
    align-items : flex-start;
    justify-content : flex-start;
    flex-direction: column;
}
.who-are-we-content  > h1 {
    text-align:  left;
    margin: 10px 95px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.who-are-we-content > p {
    text-align: justify;
    margin : 0px 80px 10px 100px;
    line-height: 25px;
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.who-are-we .who-are-we-content .experienced-team {
        margin-bottom: 25px;
        margin-top: 0px;
        font-weight: 380;
}
.who-are-we-content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.who-are-we-content .btn  > button {
    margin : 10px;
    border: 1px solid green;
    padding: 15px 25px;
    border-radius: 5px;
    /* margin-right: 150px; */
/* margin-left: -120px; */
/*  transition: all 0.5s;
    font-size: 20px;
    text-transform: capitalize;
}
.who-are-we-content .btn .btn-portfolio{
    background-color: white;
    margin-left: 100px;
}
.who-are-we-content .btn .btn-get-in-touch{
    background-color: #97B325;
}

.who-are-we-content .btn .btn-portfolio:hover{
    background-color: #97B325;
    
    color: white !important;
}
.who-are-we-content .btn .btn-get-in-touch:hover{
    background-color: #1d242d !important;
    color: white !important;
    
}

.who-are-we-img > img {
    width: 90%;
    height: auto;
}

/* Who we are ends */

/* Core Competencies Start */

.services-section {
  background-color: white;
  /* width: 100%; */
  /* height: auto; */
  /* margin-top: 120px; */
  padding-bottom: 30px;
  margin-top: 125px;
}
.services-section h2 {
  padding: 90px 0px 30px 0px;
  color: #b7b0b0;
  border-bottom: 1px solid #b7b0b0;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 10px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.services-div {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin: 0px 10%;
}
.services-item {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  margin: 10px 9px;
  /* padding: 20px; */
  font-size: 15px;
  text-align: center;
  /* text-align: justify; */
}
.services-item h3 {
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: black;
  font-size: 22px;
  margin-bottom: 21px;
}
h3,
.links > p,
.links > img {
  margin: 11px 0px;
}
.services-item .links > p {
  font-family: "Source Sans Pro";
  font-weight: 500;
  line-height: 25px;
  color: black;
  padding: 0px 33px;
}
.links > img {
  width: 90px;
  height: auto;
  transition: all 0.5s;
  margin-bottom: 21px;
}
.links > img:hover {
  transform: scale(1.1);
}

.links {
  text-decoration: none;
  color: white;
}
.links > p {
  font-weight: 600;
  font-size: 17px;
  font-weight: normal;
  color: white;
  font-family: "Source Sans Pro";
  padding: 0px 23px;
}

/* Core Competencies End */

/* Build Together */
/* .build-together {
    background-color: #f4f5f7;
}
.build-together > h1 {
    text-align: center;
    padding: 63px 0px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.build-together-grid{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px 50px;
    /* height: 400px; */
/* border: 2px solid black; */
/*   padding-bottom: 73px;
}
.build-together .contact-form{
    /* border: 2px solid black; */
/* width: 51vw;
    margin: 11px 0px 0px 21px;
    /* height: 500px; */
/* background-color: #bcd74c;
    padding: 20px;
    height: 152vh;
}
.build-together .contact-form form {
    /* border: 2px solid black; */
/* margin: 24px
}
.build-together .contact-form h1 
    {
        margin: 10px 61px 0px 45px;
        font-family: Montserrat;
    }

.build-together .contact-form form input[type=text],
.build-together .contact-form form input[type=submit]{
    border: 2px solid black;
    border-radius: 8px;
    height: 51px;
    width: 90%;
    display: block;
    margin: 20px;
    border: none;
    background: #edf4cf;
}
.build-together .contact-form form input[type=email],
.build-together .contact-form form .number,
.build-together .contact-form form select,
.build-together .contact-form form textarea

{
    border: 2px solid black;
    border-radius: 8px;
    height: 51px;
    width: 41%;
    display: inline;
    margin: 10px 41px 27px 21px;
    border: none;
    background: #edf4cf;
}
.build-together .contact-form form select{
    width: 27%;
    margin-right: 152px;
}

.build-together .contact-form form textarea{
    /* border: 2px solid black; */
/*width: 90%;
    height: 139px;
}
.build-together .contact-form form input[type=submit]{
    border: 2px solid brown;
    height: 80px;
}
.build-together .build-together-content {
    background-color: white;
    width: 29vw;
    margin-left: -21px;
    margin-top: 10px;
    height: 152vh;
}
.build-together .build-together-content .further-div {
    /* border: 2px solid black; */
/*   border-radius: 13px 13px 13px 13px;
    background-color: transparent;
    background-color: #ffffff;
    border-radius: 13px 13px 13px 13px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 1px #eeeeee;
    padding: 23px 28px 14px 32px;
    margin: 9px 14px;
    /* height: 179vh; */
/* }/* */
/*
.build-together .build-together-content .further-div h2 {
    margin-bottom: 30px;
    font-family: 'Montserrat';
}
.build-together .build-together-content .further-div ol li {
   display: block;
line-height: 25px;
font-family: 'Montserrat';
font-weight: 500;
margin-bottom: 21px;
}
.build-together .build-together-content .further-div ol li span .portfolio{
    text-decoration: none;
    color: #97B325;
    cursor: pointer;
}
.build-together .build-together-content img{
    margin-left: 244px;
    margin-top: -67px;
} */

/* Build Together */

@media screen and (max-width: 992px) {
  .services-div {
    margin: 0px 4%;
  }
  .links > p {
    padding: 0px 24px;
  }
  .links > img {
    width: 87px;
    height: auto;
    transition: all 0.5s;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 669px) {
  .services-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    margin: 10px 10px;
    /* padding: 20px; */
    font-size: 15px;
    text-align: center;
    /* text-align: justify; */
  }
  .links > p {
    font-weight: 600;
    font-size: 17px;
    font-weight: normal;
    color: white;
    font-family: "Source Sans Pro";
    padding: 0px 12px;
  }
  .services-section {
    margin-top: 13px;
  }
  .services-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
  }
}

@media screen and (max-width: 421px) {
  .services-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .services-section {
    margin-top: 50px;
  }
  .services-div {
    margin: 0px 3%;
  }
  .build-together-grid {
    margin: 10px 80px;
    padding-bottom: 88px;
  }
}
