.container1 {
  /* border: 1px solid black; */
  width: 1200px;
  margin: 50px 164px 68px 164px;
}
.description {
  font-size: 35px;
}
.h1 {
  font-family: "Montserrat";
  font-weight: 400;
  margin-bottom: 4.1rem;
}
.job1 {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #e2e2e2;
}
.link1 {
  text-decoration: none;
  color: black;
  font-family: "Source Sans Pro";
  text-transform: capitalize;
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}
.link1:hover {
  color: #bcd64c;
}
.company-tagline {
  font-family: "Source Sans Pro";
  color: #80848c;
  font-size: 20px;
}
.fav-icon {
  width: 10%;
  margin-right: 120px;
  margin-bottom: 7px;
}
.fav-icon img {
  width: 100%;
}
.time {
  font-size: 22px;
}
.job-description1 {
  display: flex;
  margin-top: 15px;
}
.job-description1 p {
  display: flex;
  margin-right: 150px;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.full-time1 {
  font-family: "Source Sans Pro";
  color: #bcd64c;
  margin-left: 5px;
}
.detail-description {
  margin-top: 34px;
  font-family: "Source Sans Pro";
  color: #80848c;
  font-size: 20px;
}
.application-form {
  margin-top: 50px;
  margin-bottom: 70px;
}
.application-form h3 {
  font-family: Montserrat;
  color: #bcd64c;
  font-size: 22px;
}

.application-form-inputs {
  font-family: "Source Sans Pro";
  color: #80848c;
  margin-bottom: 25px;
  font-size: 21px;
}

.application-form-inputs label {
  margin-right: 202px;
}

.application-form-inputs .email-label {
  margin-right: 210px;
}

.application-form-inputs .file-label {
  margin-right: 157px;
}

.application-form input[type="email"] {
  margin-left: 28px;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="number"],
.file {
  font-size: 16px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #c1c1c1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 75.6%;
  padding: 10px 10px;
}
.application-form input[type="text"]:focus {
  border: 1px solid green;
}
.PhoneInput {
  margin-top: -10px;
}
.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  padding: 0px 25px;
}
.PhoneInputInput::placeholder {
  margin-left: -30px;
}
.choose-file {
  position: relative;
  /* top: 10px; */
  left: 10px;
}
.browse-button {
  margin: -5px 5px 2px 2px;
  display: block;
  padding: 4px 17px;
  border-radius: 0;
  float: right;
  border: none;
  background-color: #bcd64c;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 16px;
}
.application-form input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: 100;
  width: 59.5%;
  right: 160px;
}
.file {
  display: inline-block;
}

.application-form input[type="submit"] {
  margin: -5px 0px 9px 10px;
  display: block;
  padding: 7px 30px;
  border-radius: 0;
  float: right;
  border: none;
  background-color: #bcd64c;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 20px;
}
.application-form input[type="file"]::file-selector-button {
  content: "Browse";
  margin: 9px 5px 9px 10px;
  display: block;
  padding: 2px 13px;
  border-radius: 0;
  float: right;
  border: none;
  background-color: #bcd64c;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

.by-november {
  color: black;
  font-family: "Source Sans Pro";
  border-top: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  padding: 5px 0px;
  font-size: 19px;
}

.by-november .span-1 {
  margin-right: 110px;
}
.by-november .span-2 {
  border-left: 1px solid #c1c1c1;
  padding-left: 6px;
}
.by-november .span-3 {
  margin-left: 8px;
  border-left: 1px solid #c1c1c1;
  padding-left: 10px;
}
.share-story {
  padding: 1.33em 20px;
  background-color: #f9f9fb;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.share-story h1 {
  font-family: Montserrat;
  font-size: 27px;
  margin-right: 200px;
}

.share-story .social-links {
  font-size: 22px;
}
.share-story .social-links .icon {
  margin-left: 18px;
  color: #9ea0a4;
}
.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  border: none;
  margin: 14px 10px 10px 12px;
  height: 38px;
  margin-top: 0px;
  width: 16%;
  --PhoneInput-color--focus: none;
}
.PhoneInputCountry {
  margin: 0px 10px 10px 10px;
}
.PhoneInputInput::placeholder {
  font-family: "Source Sans Pro";
  color: #9ea0a4;
}
.PhoneInput--focus {
  border: none;
}
.phone-input {
  border: none;
}
.PhoneInput {
  border: none;
}

@media screen and (max-width: 992px) {
  .container1 {
    width: 94%;
    margin: 50px 59px 68px 33px;
  }
  .description {
    margin-top: 10px;
    margin-left: -10px;
  }
  .application-form input[type="text"],
  .application-form input[type="email"],
  .application-form input[type="number"],
  .file {
    width: 100%;
    margin-top: 10px;
  }
  .application-form input[type="email"] {
    margin-left: 0px;
  }
  .share-story {
    padding: 1.33em 6px;
  }
  .share-story h1 {
    margin-right: 0px;
    padding: 0px 22px 0px 9px;
  }
}

@media screen and (max-width: 669px) {
  .job1 {
    display: flex;
    flex-direction: column;
  }
  .description {
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 11px;
  }
  .job-description1 {
    display: flex;
    flex-direction: column;
  }
  .job-description1 p {
    display: block;
    margin-bottom: 4px;
  }
  .full-time1 {
    margin-left: 13px;
  }
  .application-form input[type="text"],
  .application-form input[type="email"],
  .application-form input[type="number"],
  .file {
    width: 95%;
    margin-top: 10px;
  }
  .application-form input[type="submit"] {
    margin: -5px 32px 9px 10px;
  }
  .share-story {
    display: flex;
    flex-direction: column;
  }
  .share-story h1 {
    margin-right: 0px;
    padding: 0px 22px 20px 9px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .container1 {
    width: 94%;
    margin: 30px 59px 68px 10px;
  }
  .h1 {
    font-size: 24px;
    text-align: center;
  }
  .job1 {
    display: flex;
    flex-direction: row;
  }
  .description {
    margin-left: 22px;
    font-size: 20px;
  }
  .job-description1 {
    display: flex;
    flex-direction: row;
  }
  .job-description1 p {
    margin-right: 30px;
    margin-left: 4px;
    flex-direction: row;
  }
  .detail-description {
    font-size: 16px;
    margin-right: 23px;
    margin-left: 19px;
  }
  .company-tagline {
    padding: 0px 32px 0px 0px;
  }
  .application-form h3 {
    font-size: 18px;
  }
  .application-form {
    margin-left: 20px;
  }
  .application-form input[type="text"],
  .application-form input[type="email"],
  .application-form input[type="number"],
  .file {
    width: 92%;
  }
  .share-story h1 {
    padding: 0px 46px 20px 45px;
    text-align: center;
  }
  .by-november {
    width: 92%;
  }
  .share-story {
    width: 93%;
    margin-left: 7px;
  }
  .fav-icon {
    width: 42%;
    margin-right: 20px;
    margin-bottom: 7px;
    margin-left: 20px;
  }
  .job-description1 p {
    margin-right: 1px;
    margin-left: 25px;
    flex-direction: row;
  }
  .application-form-inputs {
    font-size: 16px;
  }
  .application-form input[type="submit"] {
    font-size: 17px;
    margin: 0px 21px 9px 10px;
  }
  .by-november {
    width: 87%;
    margin-left: 17px;
  }
  .share-story .social-links {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .share-story .social-links {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .container1 {
    width: 870px;
    margin: 50px 164px 68px 70px;
  }
  .h1 {
    font-size: 20px;
    margin-bottom: 2.1rem;
  }
  .fav-icon {
    margin-right: 95px;
  }
  .fav-icon img {
    width: 90%;
  }
  .description {
    font-size: 25px;
  }
  .company-tagline {
    font-size: 17px;
  }
  .time {
    font-size: 18px;
  }
  .detail-description {
    font-size: 17px;
  }
  .application-form h3 {
    font-size: 18px;
  }
  .application-form-inputs label {
    margin-right: 133px;
  }
  .application-form-inputs .email-label {
    margin-right: 137px;
  }
  .application-form-inputs .file-label {
    margin-right: 96px;
  }
  .application-form-inputs {
    font-size: 17px;
  }
  .application-form input[type="submit"] {
    margin: 0px 7px 9px 1px;
    font-size: 16px;
  }
}
