@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Innovative Solutions for You Start  */
/* h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
    margin-bottom: 5px;
} */

h1 > span{
    color: #97B325;
}
p{
    
}
img{
    max-width: 100%;
    height: auto;
}
.innovative-solutions{
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}

.innovative-solutions-section{
    margin-top: 90px;
    margin-bottom: 14px;
}

.innovative-solutions-section h1 {
    text-align: center;
    /* margin: 20px; */
    font-size: 37px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-bottom: 25px;
    line-height: 42px;
    margin-top: 15px;
}

.innovative-solutions-section p {
    text-align: center;
    color: #6b7175;
    font-size: 23px;
    /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
    font-family: 'Source Sans Pro';
    font-weight: 500;
}
.get-in-touch {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    margin-bottom: 98px;
}
.innovative-solutions .get-in-touch > p {
    font-weight: 500;
    margin-left: 107px;
}
.get-in-touch .get-in-touch-link {
    border: 1px solid green;
    padding: 14px 38px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #97B325;
    /* font-size: large; */
    color: white;
    transition: linear 0.3s;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    /* word-spacing: 5px; */
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 102px;
}
.get-in-touch .get-in-touch-link:hover {
    background-color: #1d242d;
    color: white !important;
    cursor: pointer;
}
.get-in-touch > p {
    color: black;
    font-weight: normal;
    
}
.get-in-touch-image {
    margin-right: 281px;
    width: 49%;
}

/* Innovative Soutions End */

/* Core Competencies Start */

/* .core-competencies-section {
    background-color: #1d242d; */
    /* width: 100%; */
    /* height: auto; */
/* } */
/* .core-competencies-section h2{
    padding: 90px 0px 30px 0px;
    color: #b7b0b0;
    border-bottom: 1px solid #b7b0b0;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.core-competencies-div{
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 10px;
   margin: 0px 10%;
}
.core-competencies-item { */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* margin: 10px 30px; */
  /* padding: 20px; */
  /* font-size: 15px;
  text-align: center; */
  /* text-align: justify; */
/* } */
/* .core-competencies-item h3 {
    text-transform: uppercase;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
} */
/* h3, .links > p , .links > img{
    margin: 20px 0px ;
}
.core-competencies-item p {
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 25px;
}
.links > img {
    width: 100px;
    height: 80px;
    transition: all 0.5s;
}
.links > img:hover {
    transform: scale(1.1);
}

.links{
    text-decoration: none;
    color: white;
}
.links > p {
    font-size: 15px;  
    font-weight: normal;
    color: white; 
} */

/* Core Competencies End */

/* Flexibity to Innovate */
.flexibity-to-innovative-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeedf3;
    padding-bottom: 100px;
    clip-path: polygon(0 0, 100% 0, 99% 77%, 0% 100%);
    margin-bottom: 10px;
    /* margin-top: 2px; */
    padding-top: 60px;
}
.flexibity-to-innovative-div {
    /* justify-content: center; */
    margin-top: -130px;
    margin-left: 65px;
    width: 70%;
}
.flexibity-to-innovative-div > h1 {
    text-align: left;
    margin: 50px 95px 28px 95px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 36px;
}
.flexibity-to-innovative-div > p {
    text-align: justify;
    margin: 20px 79px 67px 100px;
    line-height: 32px;
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 21px;
    word-spacing: -2px;
}

.flexibity-to-innovative-div .talk-to-us {
    margin: 22px 100px 77px 100px;
    border: 3px solid #0587b7;
    padding: 14px 48px;
    border-radius: 5px;
    /* margin-right: 150px; */
    /* margin-left: -120px; */
    transition: all 0.5s;
    font-size: 23px;
    text-transform: capitalize;
    background-color: #97B325;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.flexibity-to-innovative-div .talk-to-us:hover{
    background-color: #1d242d;
    color: white !important;
}

.flexibity-to-innovative-img-div > img {
    width: 100%;
    /* height: 50%; */
}

.flexibity-to-innovative-img-div {
    margin-top: 65px;
    width: 72%;
}

/* Flexibility to Innovative ends */

/* Power of Great Work */
.power-of-great-work {
    /* height: 1900px; */
}
.power-of-great-work > h1 {
    margin-left: 0px;
    font-size: 25px;
    text-align: start;
    width: 60%;
    padding: 25px 152px;
    background-color: #305769;
    color: white;
    font-family: 'Montserrat';
}

.power-of-great-work p {
    margin: 5% 5% 5% 160px;
    text-align: start;
    color: black;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-size: 26px;
}

.power-of-great-work-imgs h2, .power-of-great-work-imgs p {
    color: white;
    margin: 3% 14% 3% 5%;
    text-align: justify;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.power-of-great-work-imgs p {
    font-size: 15px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 17px;
}
.power-of-great-work-imgs h2{
    font-size: 30px;
}

.power-of-great-work-imgs > p {
    font-weight: 300;
    font-size: 10px !important;
}

.power-of-great-work-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : flex-start;
    margin-top: -89px;
    /* border: 2px solid black; */
}

.two-images-div {
    display: flex;
    width: 78vw;
    /* height: 80vh; */
    /* border: 2px solid black; */
}

.first-inner-div {
    width: 80%;
    height: 88%;
    /* border: 2px solid black; */
    margin-right: 20px;
    background-color: #da6fff;
    margin-top: 95px;
}
.first-inner-div img {
    height: 27%;
    /* margin-top: 199px; */
    width: 86%;
    margin-left: 47px;
}
.second-inner-div {
    width: 80%;
    height: 78%;
    /* border: 2px solid black; */
    background-color: #ff7095;
    margin-top: 166px;
    padding-bottom: 17px;
}
.two-images-div-img {
    width: 100%;
    height: 189%;
}

.two-images-div-img2 {
    /* margin: 20px 20px 10px 20px; */
    width: 92%;
    height: 60%;
    margin-left: 26px;
}

.three-images-div {
    display: flex;
    flex-direction: row;
    width: 90%;
    /* height: 90%; */
    margin-top: 26px;
    /* border: 2px solid black; */
    margin-left: 166px;
    color: #3c3950;
}
.power-of-great-work-imgs .three-images-div .first-div .first-div-content h2, .power-of-great-work-imgs .three-images-div .first-div .first-div-content p, 
.power-of-great-work-imgs .three-images-div .second-div .second-div-content h2, .power-of-great-work-imgs .three-images-div .second-div .second-div-content p, 
.power-of-great-work-imgs .three-images-div .third-div .third-div-content h2, .power-of-great-work-imgs .three-images-div .third-div .third-div-content p {
    color: black;
    margin: 5% 14% 3% 0%;
    text-align: justify;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #3c3950;
}
.power-of-great-work-imgs .three-images-div .first-div .first-div-content p,
.power-of-great-work-imgs .three-images-div .second-div .second-div-content p, 
.power-of-great-work-imgs .three-images-div .third-div .third-div-content p  {
    font-size: 17px;
    word-spacing: 0px;
    font-family: 'Source Sans Pro';
}

.power-of-great-work-imgs .three-images-div .third-div .third-div-content p {
    word-spacing: -2px;
}

.first-div, .second-div, .third-div {
    /* border: 2px solid black; */
    width: 27%;
    height: 40%;
    margin-right: 47px;
    /* margin-right: 100px; */
}
.third-div {
    margin-right: 0px;
}

.second-div-image {
    background-color: #2bb6e8;
}

.third-div > .third-div-image img {
    width: 100%;
    height: 90%;
    margin: -0.5px;
}

.three-images-div  p,
.three-images-div  h2{
    color: black;
}

.first-div-image{
    background-color: #da6fff;
}
.grid-image{
    width: 100%;
    display: block;
    position: relative;
}
.grid-image img{
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center; */
}

/* Power to innovate ends */

/* Coded Level Start */
.coded-level {
    display: flex;
    width: 79vw;
    /* height: 50vh; */
    background-color: #182764;
    margin-top: 16px;
    margin-left: 11px;
}

.content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
}

.coded-level .content h1 {
    text-align: left;
    color: white;
    margin-left: 9px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.coded-level p {
    margin-top: 26px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    margin-left: 14px;
    margin-right: 45px;
}

.coded-level > img {
    margin: 27px 13px 39px 61px;
    width: 38%;
    float: right;
}


/* Coded Level End */

/* Our Strategy*/
.our-strategy {
    background-color: #fbfbf9;
}

.our-strategy h1, .key-clients h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 48px;
}
.key-clients h1 {
    margin-top: 38px;
}

.our-strategy h1  span, .key-clients h1  span{
    color: #97B325;
    
}

.our-strategy .services{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
width: 58%;
height: 33%;
width: 100%;
font-size: 13px;
margin-left: 27px;
padding-bottom: 45px;
}

.service{
    /* border: 2px solid black; */
    width: 20%;
    margin-left: 18px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
}
.service img {
    margin-left: 19px;
}

.service h2 {
    margin: 30px 0px;
    text-align: center;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.service:hover{
    background-color: #fdbf2e;
    color: white;
    margin-top: -15px !important;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0px 2px 10px 0px rgba(50,50,50,.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50,50,50,.5);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50,50,50,.5);
}

/* .slick-carousel {
    display: flex;
    flex-direction: row;
} */

.slick-carousel , .slick-carousel-testimonials{
    padding: 0.8rem;
    /* background-color: #000; */
    color: #fff;
    width: 85vw;
    margin: auto;
    
}

.box {
    /* background-color: lightgreen; */
    height: 200px;
}
.box h3 {
    text-align: center;
}

.slick-slide div {
    margin: 0 1rem;
}

.slick-next {
    right: -40px !important;
}

.slick-carousel img {
    width:  400px;
    height: 130px;
}

.testimonials {
    background: black;
    margin-bottom: 30px;
}

.slick-carousel-testimonials {
    width: 80%;
    height: 80%;
}
.testimonials h1{
    color: #97B325;
    text-align: center;
    font-size: 45px;
    padding: 30px 0px 18px 0px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
}
.reviews h3, .reviews p {
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-family:  'Montserrat', Arial, Helvetica, sans-serif;
}
.reviews p {
    margin: 20px 100px 0px 100px;
    font-size: 15px;
    line-height: 25px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 26%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 100px 0px;

}
.fa-star {
    color: yellow;
}
.social-media {
    margin-top: 12px;
    font-size: 33px;
    /* margin-right: 12px; */
    margin-left: 14px;
}

@media screen and (max-width: 992px) {
    .container {
        width: 991px;
        /* border:  1px solid black; */
    }
    .get-in-touch-image {
        /* margin-right: 70px; */
        width: 50%;
        margin-right: 135px;
    }
    .get-in-touch .get-in-touch-link {
        border: none;
        margin-left: 0px;
    }
    .get-in-touch {
        margin-left: 56px;
        margin-bottom: 63px;
    }
    .get-in-touch > button {
        border: 1px solid green;
        padding: 20px 49px;
        border-radius: 5px;
        margin-top: 20px;
        background-color: #97B325;
        font-size: large;
        color: white;
        transition: linear 0.3s;
    }
    .innovative-solutions-section {
            margin-top: 80px;
        }
        .innovative-solutions-section h1 {
            text-align: center;
            margin: 20px;
            font-size: 39px;
            margin-bottom: 18px;
            line-height: 38px;
        }
        .innovative-solutions {
            margin-top: 1px;
            margin-bottom: 85px;
        }
        .innovative-solutions-section p {
            text-align: center;
            color: #b7b0b0;
            font-size: 24px;
            font-family: 'Source Sans Pro';
            font-weight: 500;
            margin-bottom: 92px;
        }
        
        .innovative-solutions .get-in-touch p {
            font-weight: 500;
            margin-top: 25px;
            margin-left: 10px;
            color: black;
            font-size: 23px;
            margin-bottom: 0px;
        }
    .innovative-solutions .get-in-touch {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /* margin-top: 68px; */
        margin-bottom: 74px;
        margin-left: 40px;
    }
    .core-competencies-div {
        margin: 0px;
    }
    .flexibity-to-innovative-section {
        margin-bottom: 98px;
    }
    .flexibity-to-innovative-div {
        /* justify-content: center; */
        margin-top: -25px;
        margin-left: 20px;
        width: 70%;
    }
    .flexibity-to-innovative-div h1 {
        margin: 63px 20px 0px 10px;
    }
    .flexibity-to-innovative-div > p {
        text-align: justify;
        margin: 20px 79px 67px 100px;
        line-height: 32px;
        color: black;
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 24px;
        word-spacing: -2px;
    }
    .flexibity-to-innovative-div .talk-to-us {
        margin: 22px 100px 77px 3px;
    }
    .flexibity-to-innovative-div p,
    .flexibity-to-innovative-div  button {
        margin: 34px 9px 70px 9px;
    }
    .first-div, .second-div, .third-div{
        /* margin-right: 26px; */
    }
    .flexibity-to-innovative-img-div > img {
        width: 100%;
        /* height: 50%; */
        /* margin-right: -56px; */
        margin-left: 102px;
    }
    .power-of-great-work h1 {
        width: 100%;
        text-align: left;
        padding: 19px 302px 16px 36px;
        font-size: 27px;
        line-height: 36px;
        background-color: #40687a;
    }
    .power-of-great-work p {
        margin: 5% 6% 0% 4%;
        text-align: start;
        font-family: 'Source Sans Pro';
        font-weight: 300;
        font-size: 25px;
        color: #000000;
    }
    .two-images-div {
        width: 95vw;
        /* height: 141vh; */
    }
    .two-images-div p {
        font-size: 18px;
        color: white;
        font-weight: 400;
        margin-bottom: 31px;
    }
    .first-inner-div {
        width: 80%;
        height: 88%;
        /* border: 2px solid black; */
        margin-right: 20px;
        background-color: #da6fff;
        margin-top: 196px;
    }
    .second-inner-div {
        width: 80%;
        height: 78%;
        /* border: 2px solid black; */
        background-color: #ff7095;
        margin-top: 246px;
        padding-bottom: 17px;
    }
    .first-inner-div img {
        height: 63%;
        margin-top: 0px;
    }
    .two-images-div-img img{
       height: 63%;
       margin-top: 60px;
    }
    .two-images-div-img2{
        margin-left: 78px;
        height: 50%;
        margin-left: 12px;
        /* margin-top: 80px; */
    }

    .three-images-div {
        width: 99%;
        margin-left: 57px;
        margin-right: 16px;
    }
    .three-images-div p {
        
    word-spacing: -1px;
    font-size: 14px;
    font-weight: 500;

    }
    .first-div, .second-div, .third-div {
        width: 35%;
        margin-right: 40px;
    }
    .coded-level {
        width: 97%;
    }
    .coded-level .content h1 {
        margin-left: 7px;
        padding: 19px 143px 0px 6px;
        background: #182764;
    }
    .coded-level .content p {
        color: white;
        font-family: 'Source Sans Pro';
        font-size: 17px;
        font-weight: 400;
    }
    .our-strategy .services{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 58%;
    height: 33%;
    width: 100%;
    font-size: 13px;
    }
    .our-strategy h1 {
        padding-top: 43px;
    }
    .service{
    width: 23%;
    /* margin-left: 22px
     */
     margin-left: 14px;
    }
    .box img {
        width: 100%;
    }
    .footer-div{
        padding-top: 8px;
        margin-left: 16px;
    }
    .slick-carousel {
        width: 100%;
    }
    .social-media{
        margin-top: 12px;
        font-size: 33px;
        margin-right: 12px;
    }
    .reviews p {
        margin: 20px 26px 0px 26px;
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width: 669px) {
    .innovative-solutions-section {
        margin-top: 70px;
    }
    .container {
        width: 668px;
    }
    .innovative-solutions .get-in-touch {
        margin-left: 19px;
    }
    .flexibity-to-innovative-div .talk-to-us {
        margin: 22px 0px 77px 3px;
    }
    .core-competencies-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .power-of-great-work p {
        margin: 11% 6% 0% 4%;
    }
    .power-of-great-work-imgs .three-images-div .third-div .third-div-content h2,
    .power-of-great-work-imgs .three-images-div .second-div .second-div-content p{
        margin: 4% 0% 3% 0%;
    }
    .power-of-great-work-imgs h2, .power-of-great-work-imgs p {
        margin: 3% 11% 3% 5%;
    }
    .power-of-great-work-imgs {
        margin-top: 0px;
    }
    .first-inner-div {
        margin-top: 64px;
    }
    .get-in-touch-image{
        width: 61%;
        margin-right: 37px;
    }
    .two-images-div {
        height: 67vh;
        margin-top: 0px;
    }
    .second-inner-div img {
        height: 48%;
        margin-top: 25px;
    }
    .three-images-div p {
        font-size: 17px;
    }
    .reviews p {
        margin: 20px 20px 0px 23px;
    }
    .social-media{
        margin-top: 12px;
        font-size: 33px;
        margin-right: 12px;
    }
    .first-inner-div, .second-inner-div {
        height: 100%;
    }
    .second-inner-div {
        margin-top: 66px;
        height: 100%;
    }
    .three-images-div {
        margin-top: 140px;
    }
    .first-div , .second-div , .third-div {
        width: 100%;
        margin-right: 19px;
    }
    .first-inner-div img {
        height: 60%;
        margin-top: 20px;
        margin-left: 16px;
    }
    .three-images-div {
        width: 97%;
        margin-left: 34px;
        margin-right: 16px;
        margin-top: 89px;
    }
    .second-inner-div img {
        height: 48%;
        margin-top: 55px;
    }
    .power-of-great-work h1 {
        padding: 3px 62px 1px 0px;
    }
    .service {
        margin-left: 4px;
        margin-right: 13px;
    }
    .power-of-great-work h1 {
        padding: 24px 183px 22px 41px;
        font-family: 'Montserrat';
    }
    .coded-level > img {
        margin: 45px 29px 45px 61px;
        width: 38%;
        float: right;
    }
    .coded-level .content h1 {
        margin-left: 7px;
        padding: 19px 70px 0px 0px;
    }
    .coded-level .content p {
        margin-bottom: 28px;
    }
    .content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 31px;
    }
    .our-strategy .services {
        margin-left: 0px;
    }
}

@media screen and (max-width: 422px) {
    .container{
        /* border: 1px solid black; */
        width: 420px;
    }
    /* .core-competencies-div{
        display: block;
    } */
    /* .core-competencies-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    .innovative-solutions-section {
        margin-top: 0px;
        margin-left: 12px;
    }
    .innovative-solutions-section h1 {
        text-align: left;
        font-size: 34px;
        margin-top: 0px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .innovative-solutions-section p {
        font-size: 26px;
        text-align: left;
        margin-left: 17px;
        line-height: 36px;
        margin-bottom: 0px;

    }
    .innovative-solutions {
        display: flex;
    align-items : flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 34px;
    }
    .innovative-solutions .get-in-touch {
        /* margin-left: 19px; */
        width: 100%;
        margin-bottom: 30px;
    }
    .get-in-touch-link {
    margin-left: 82px;
    margin-right: 0px;
    font-family: 'Source Sans Pro';
    font-weight: 800;
    font-size: 20px;
    padding: 14px 37px;
    }
    .innovative-solutions .get-in-touch p {
        margin-left: 0px;
        line-height: 24px;
    }
    .get-in-touch{
        margin-left: 36px;
        margin-bottom: 49px;
    }
    .get-in-touch p {
        font-size: 18px;
    }
    .get-in-touch button{
        margin-left: 190px;
        padding: 16px 19px;
        width: 116%;
        font-weight: 600;
    }
    .get-in-touch .get-in-touch-link {
    border: none;
    margin-left: 85px;
}
    .get-in-touch-image {
        margin-bottom: -33px;
        width: 79%;
        /* margin-right: 37px; */
        margin-left: 33px;
    }
    .flexibity-to-innovative-section {
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 28px;
    }
    .flexibity-to-innovative-div {
        display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    }
    .flexibity-to-innovative-div p {
        margin: 34px 50px 9px 11px;
    }
    .flexibity-to-innovative-div .talk-to-us {
        margin: 22px 0px 17px 10px;
    }
    .flexibity-to-innovative-img-div {
        margin-top: 65px;
        width: 78%;
    }
    .flexibity-to-innovative-img-div > img {
        width: 100%;
        margin-left: 0px;
    }
    .power-of-great-work h1 {
        padding: 25px 16px;
    }
    .power-of-great-work p {
        margin: 10% 5% 0% 8%;
        line-height: 29px;
    }
    .power-of-great-work-imgs {
        margin-top: 190px;
    }
    .two-images-div{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    }
    .first-inner-div, .second-inner-div {
        margin-bottom: 31px;
        padding-bottom: 22px;
        margin-right: 5px;
        width: 90%;
        margin-top: 10px;
    }
    .second-inner-div img {
        margin-top: 45px;
    }
.first-inner-div h2, .second-inner-div h2{
    margin: 5% 4% 3% 7%;
}
.second-inner-div img {
    margin-top: 50px;
}

    .three-images-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 230px;
        margin-right: 25px;
        width: 100%;
        margin-left: 0px;
    }
    .first-div , .second-div, .third-div {
        width: 90%;
        height: 40%;
        /* margin-right: 100px; */
        /* margin-right: 100px; */
        margin-left: 40px;
    }
    .first-div-content p, .second-div-content p, .third-div-content p{
        margin: 5% 5% 7% 3%;
    }
    .power-of-great-work-imgs {
        margin: 225px 10px 20px 10px;
    }
    .power-of-great-work-imgs .two-images-div p {
        margin-top: 10px;
    }
    .power-of-great-work-imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 190px;
    }
    .power-of-great-work-imgs .three-images-div .first-div .first-div-content p, .power-of-great-work-imgs .three-images-div .second-div .second-div-content p, .power-of-great-work-imgs .three-images-div .third-div .third-div-content p {
        font-size: 17px;
        word-spacing: 0px;
        font-family: 'Source Sans Pro';
        line-height: 18px;
        margin-bottom: 30px;
    }
    .our-strategy  .services{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .coded-level{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }
    .content {
        width: 92%;
        margin-left: 36px;
        margin-top: 21px;
    }
    .content h1 {
        padding: 25px 0px;
    }
    .content p {
        text-align: left;
        margin: 0% 5% 0% 0%;
    }
    .coded-level img {
        margin: 7px 14px 35px 14px;
        width: 91%;
        height: 80%;
    }
    .service {
        width: 71%;
    }
    .service img {
        width: 100%;
    }
    .key-clients h1{
        font-size: 37px;
    }
    .slick-slide{
        width: 16%;
    }
    .social-media{
        margin-top: 12px;
        font-size: 33px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 381px) {
    .container{
        width: 380px;
        /* border: 1px solid black; */
    }.innovative-solutions-section {
        margin-top: 0px;
    }
    .get-in-touch {
        width: 50%;
    }
    .get-in-touch p {
        /* border: 1px solid black; */
        display: block;
        /* padding: 0px -6px 0px 13px; */
        margin-left: 0px;
        width: 104%;
    }
    .get-in-touch button {
        margin-left: 165px;
        padding: 16px 3px;
        width: 100%;
        font-weight: 600;
    }
    .get-in-touch-image {
        width: 80%;
    /* margin-right: 37px; */
    margin-left: 37px;
    }
    .two-images-div p {
        font-size: 17px;
    }
    .first-inner-div img {
        height: 55%;
        margin-top: 22px;
    }
    .flexibity-to-innovative-section {
        margin-bottom: 34px;
    }
    .second-inner-div img {
        margin-top:  43px;
    }
    .core-competencies-item .links p {
        font-size: 17px;
    }
    .power-of-great-work-imgs {
        margin-top: 200px;
    }
    .power-of-great-work h1 {
        font-size: 29px;
        padding: 25px 16px 25px 26px;
    }
    .service img {
        width: 96%;
        margin-left: 0px;
    }
    .social-media{
        margin-top: 12px;
        font-size: 33px;
        margin-right: 12px;
    }
}
