@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap');

.link{
  text-decoration: none;
}
li{
  list-style: none;
}
.link{
    text-decoration: none;
    color: #6b7175;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    /* border-bottom: 4px solid #97b325;
    padding-bottom: 10px;     */
    padding-right: 118px;
} 

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 30px 6px 29px;
  max-width: 1284px;
  margin: 0px 139px;
}
.logo {
  width: 13vw;
  /* margin-top: -229px; */
  /* margin-right: -48px; */
  /* margin-left: 70px; */
}
.menu-links {
  /* margin-left: 158px; */
  /* margin-top: -248px; */
}
.menu-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 6px; */
  gap: 0px;
}
.menu-links ul li {
  margin-right: 12px;
}
.menu-links ul li .link {
  padding: 0px 0px 10px 0px;
  font-family: "Montserrat";
  margin-right: 21px;
  font-size: 15px;
}

.menu-links ul li button {
  padding: 15px 21px;
  border-radius: 5px;
  border: 2px solid #97b325;
  background: white;
  color: #97b325;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  margin-left: 0px;
}

.menu-links ul li button:hover{
  background-color : #97b325;
  color: white;
}
.menu-links ul li .link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0px;
  background-color: #97b325;
  /* transform-origin: bottom right; */
  transition: 0.25s ease-out;
  /* border-bottom: 3px solid white; */
}

.menu-links ul li:hover .link:after {
  transform: scaleX(1);
  transform-origin: center center;
}
.hamburger-menu {
  display: none;
}
.active{
  border-bottom: 5px solid #97b325;
  padding-bottom: 10px;
}
.faChevronDown{
  margin-left: 14px;
  font-size: 15px;
  font-weight: 900;
}
#our-services{
  position: relative;
}
.dropdown-menu{
  position: relative;
  top: 30px;
  right: 20px;
  background-color: white;
  border-radius: 3px;
  width: 250px;
  line-height: 15px;
  font-family: 'Source Sans Pro';
}
.dropdown-menu.is-InActive{
  opacity: 0;
  visibility: hidden;
  z-index: -99;
  transform: translateY(-20px);
  transition:  linear 0.5s;
}

.dropdown-menu.isActive {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: linear 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0s;
  /* display: none; */
  z-index: 999;
  /* line-height: 10px; */
  /* border-top: 3px solid white; */
}
#services-link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 4px; */
  /* margin-top: 4px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* margin-left: 56%; */
  /* width: 100%; */
  position: absolute;
  top: calc(100% + 17px);
  left: 0;
  border-top: 3px solid #817175;
}
#services-link  li {
  font-family: 'Montserrat';
    text-decoration: none;
    color: black;
    /* padding: 10px; */
    font-size: 15px;
    font-weight: 500;
    transition: linear 0.5s;
    padding: 20px 0px 0px 0px;
    width: 100%;
    /* margin: 10px 0px;*/
}
#services-link .service-link {
  text-decoration: none;
  color: black;
  display: block;
  font-family: 'Source Sans Pro';
  border-bottom: 1px solid #ececec;
  padding-bottom: 6px;
  /* position: absolute; */
  /* margin-right: 165px; */
  /* margin-left: 10px; */
  /* margin-bottom: -3px; */
}
#services-link .service-link span{
  margin-left: 23px;
  /* margin-bottom: 24px; */
  /* padding-bottom: 17px; */
}
#services-link  li:hover{
  background-color: #97b325;
}

.dropdown-menu ul li {
  padding: 10px 0px;
  border-top: 1px solid rgba(0,0,0,0.5);
}
.dropdown-menu ul li:hover {
  background-color: #97b325;
  cursor: pointer;
}
/* .dropdownItem {
  display: flex;
  margin: 10px auto;
} */



@media screen and (max-width: 992px){
  .main-nav {
    padding: 0px 26px 0px 0px;
    gap: 0px;
    margin-top: 0px;
    justify-content: flex-start;
    margin-left: 32px;
}
  .main-nav .logo{
    width: 20vw;
    margin: 22px 24px 12px 0px;
  }
  .main-nav .logo img {
    max-height: 55px;
    height: auto;
  }
  /* .main-nav{
    display: flex;
    align-items: center;
    justify-content : flex-start;
    margin-top: 0px;
    margin-bottom: 69px;
  } */
  .menu-links {
    margin-top: -9px;
    margin-left: 27px;
}
  #our-services{
    margin-right: 15px;
    margin-top: 0px;
  }
  .faChevronDown {
    margin-left: 3px;
    font-size: 12px;
    font-weight: 1000;
}
  .menu-links ul li .link {
    margin-right: 4px;
  }
  .link{
    padding-right: 16px;
  }
  .menu-links ul {
    gap: 0px;
    margin-left: -20px;
  }
  .menu-links ul li {
    margin-right: 16px;
}
  .menu-links ul li button{
    padding: 15px 20px;
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    border-radius: 6px;

  }
  .menu-links ul li .link{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 11px;
  }
  .menu-links ul li .service{
    margin-left: 0px;
  }
  .menu-links ul li .our-services{
    margin-right: -144px;
    padding-right: 10px;
  }
  #services-link {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 12px;
    width: 175%;
    line-height: 12px;
}
}
@media screen and (max-width: 668px) {
  .hamburger-menu {
    display: block;
    z-index: 99;
  }
  .hamburger-menu button {
    border:  none;
    background-color: white;
  }
  .main-nav .logo {
    width: 30vw;
    margin: 15px 24px 22px 5px;
}
.main-nav {
  margin-top: 12px;
  padding: 0px 41px 0px 0px;
}
  .main-nav {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-left: 24px;
  }  
  .faChevronDown {
    display: none;
}
  .menu-links {
    background-color: rgba(255,255,2555,0.9);
    height:  100vh;
    padding-left: 3rem;
    transform-origin: top;
    transition: all 0.5s linear;
    box-shadow: rgba(50, 50, 93,0.25) 0px 50px 100px -20px, rgba(0,0,0,0.3) 0px 30px 60px -30px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 108%;
    transform: translateX(-110%);
    margin-top: 0px; 
    margin-left: 0px;
  }
  .menu-links ul li .link {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 11px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 28px;
}
.menu-links ul li button {
  padding: 8px 20px;
  font-size: 18px;
  margin: 0px;
  font-weight: 600;
  border-radius: 0px;
  border: none;
  background-color: #97b325;
  color: white;
  font-family: Montserrat;
  font-weight: 500;
}
  .menu-links.mobile-menu-link{
     
  }
  .menu-links.mobile-menu-link #our-services{
      margin-right: -53px;
      margin-top: 5px;
  }
  .menu-links.mobile-menu-link{
    transform: translateX(-7%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-links ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items : flex-start;
  }
  .menu-links ul li {
    margin-bottom: 11px;
}
.active {
  border-bottom: none;
  padding-bottom: 0px;
}
  .menu-links ul li:first-child{
    transition-delay: 0.2s;
  }
  .logo{
    margin-left: 30px;
  }
  .link{
    font-size: 15px;
    margin-left: 44px;
    color: black;
    font-weight: 500;
  }
  .menu-links ul li .link:after {
    display: none;
}
  .service{
    margin-left: 10px;
  }
  #services-link{
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .main-nav .logo{
    width: 50vw;
  }
  .hamburger-menu button {
    border: none;
    background: white;
}
}

@media  screen and (max-width: 380px) {
   .logo{
    width: 80%;
   }
   .hamburger-menu button {
    border: none;
    background: white;
}
}