@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap");

.link {
  text-decoration: none;
}
li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: #6b7175;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  /* border-bottom: 4px solid #97b325;
    padding-bottom: 10px;     */
  padding-right: 118px;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 30px 6px 29px;
  max-width: 1284px;
}

.main-nav .logo img {
  width: 90%;
  height: auto;
}

.logo {
  width: 19vw;
  margin-top: 25px;
  margin-right: 21px;
}

.menu-links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 6px; */
  gap: 0px;
}
.menu-links ul li {
  margin-right: 12px;
}
.menu-links ul li .link {
  padding: 0px 0px 10px 0px;
  font-family: "Montserrat";
  margin-right: 21px;
  font-size: 15px;
}

.menu-links ul li button {
  padding: 13px 18px;
  border-radius: 5px;
  border: 2px solid #97b325;
  background: white;
  color: #97b325;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  margin-left: 0px;
}

.menu-links ul li button:hover {
  background-color: #97b325;
  color: white;
}
.menu-links ul li .link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0px;
  background-color: #97b325;
  /* transform-origin: bottom right; */
  transition: 0.25s ease-out;
  /* border-bottom: 3px solid white; */
}

.menu-links ul li:hover .link:after {
  transform: scaleX(1);
  transform-origin: center center;
}
.hamburger-menu {
  display: none;
}
.active {
  border-bottom: 5px solid #97b325;
  padding-bottom: 10px;
}
.main-nav {
  padding: 10px 20px 10px 20px;
  gap: 0px;
  margin-top: 0px;
  justify-content: space-between;
  margin-left: 0px;
  position: relative; /* allow absolute positioning of hamburger */
}

.qoute button {
  border: 1px solid green;
  padding: 14px 22px;
  border-radius: 5px;
  background-color: #97b325;
  color: white;
  transition: linear 0.3s;
  text-decoration: none;
  font-family: "Source Sans Pro";
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

/* place hamburger at right of the navbar */
.hamburger-menu {
  position: absolute;
  right: 18px;
  top: 18px;
  display: none;
  z-index: 99;
}
.faChevronDown {
  margin-left: 14px;
  font-size: 15px;
  font-weight: 900;
}
#our-services {
  position: relative;
}
.dropdown-menu {
  position: relative;
  top: 30px;
  right: 20px;
  background-color: white;
  border-radius: 3px;
  width: 250px;
  line-height: 15px;
  font-family: "Source Sans Pro";
}
.dropdown-menu.is-InActive {
  opacity: 0;
  visibility: hidden;
  z-index: -99;
  transform: translateY(-20px);
  transition: linear 0.5s;
}

.dropdown-menu.isActive {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  transition: linear 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0s;
  /* display: none; */
  z-index: 999;
  /* line-height: 10px; */
  /* border-top: 3px solid white; */
}
#services-link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 4px; */
  /* margin-top: 4px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* margin-left: 56%; */
  /* width: 100%; */
  position: absolute;
  top: calc(100% + 17px);
  left: 0;
  border-top: 3px solid #817175;
}
#services-link li {
  font-family: "Montserrat";
  text-decoration: none;
  color: black;
  /* padding: 10px; */
  font-size: 15px;
  font-weight: 500;
  transition: linear 0.5s;
  /* padding: 20px 0px 0px 0px; */
  width: 100%;
  /* margin: 10px 0px;*/
}
#services-link .service-link {
  text-decoration: none;
  color: black;
  display: block;
  font-family: "Source Sans Pro";
  border-bottom: 1px solid #ececec;
  padding-bottom: 6px;
  /* position: absolute; */
  /* margin-right: 165px; */
  /* margin-left: 10px; */
  /* margin-bottom: -3px; */
  padding: 14px 19px;
  transition: linear 0.2s;
}
#services-link .service-link span {
  /* margin-left: 23px; */
  /* margin-bottom: 24px; */
  /* padding-bottom: 17px; */
}
#services-link .service-link:hover {
  background-color: #97b325;
}

.dropdown-menu ul li {
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.dropdown-menu ul li:hover {
  background-color: #97b325;
  cursor: pointer;
}
/* .dropdownItem {
  display: flex;
  margin: 10px auto;
} */

/* Responsive: only three mobile breakpoints (320, 375, 425) */

/* Small mobile: 320px - 374px */
@media screen and (min-width: 320px) and (max-width: 373px) {
  .hamburger-menu {
    display: block;
    right: 12px;
    top: 12px;
  }
  .hamburger-menu button {
    border: none;
    background: transparent;
  }

  .main-nav {
    padding: 8px 12px;
  }
  .main-nav .logo {
    width: 50vw;
    margin: 0px;
  }

  .qoute button {
    display: none;
  }

  .main-nav .logo img {
    width: 100%;
    height: auto;
    margin-top: 12px;
  }

  .menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.98);
    transform: translateX(-110%);
    transition: transform 0.45s ease;
    padding-top: 56px;
    z-index: 90;
  }
  .menu-links.mobile-menu-link {
    transform: translateX(0);
  }
  .menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
  }
  .menu-links ul li .link {
    font-size: 15px;
    color: #000;
    margin-left: 8px;
  }
  .faChevronDown {
    display: none;
  }
  #services-link {
    display: none;
  }
}

/* Tablet: 600px - 992px - behave like mobile (hamburger + slide-in menu) */
@media screen and (min-width: 600px) and (max-width: 992px) {
  .hamburger-menu {
    display: block;
    right: 18px;
    top: 18px;
  }
  .hamburger-menu button {
    border: none;
    background: transparent;
  }

  .main-nav {
    padding: 12px 24px;
  }
  .main-nav .logo {
    width: 30vw;
    margin-left: 12px;
    margin-top: 12px;
  }

  .qoute button {
    display: none;
  }

  .menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.98);
    transform: translateX(-110%);
    transition: transform 0.45s ease;
    z-index: 90;
    padding-top: 80px;
  }
  .menu-links.mobile-menu-link {
    transform: translateX(0);
  }
  .menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 36px;
  }
  .menu-links ul li .link {
    font-size: 16px;
    color: #000;
    margin-left: 10px;
  }
  .faChevronDown {
    display: none;
  }
  #services-link {
    display: none;
  }
}

/* Medium mobile: 375px - 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .hamburger-menu {
    display: block;
    right: 14px;
    top: 14px;
  }
  .hamburger-menu button {
    border: none;
    background: transparent;
  }

  .main-nav {
    padding: 10px 16px;
  }
  .main-nav .logo {
    width: 50vw;
    margin: 0px;
  }

  .qoute button {
    display: none;
  }

  .main-nav .logo img {
    width: 100%;
    height: auto;
    margin-top: 12px;
  }

  .menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.98);
    transform: translateX(-110%);
    transition: transform 0.45s ease;
    z-index: 90;
  }
  .menu-links.mobile-menu-link {
    transform: translateX(0);
  }
  .menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 28px;
    padding-top: 64px;
  }
  .menu-links ul li .link {
    font-size: 16px;
    color: #000;
    margin-left: 10px;
  }
  .faChevronDown {
    display: none;
  }
  #services-link {
    display: none;
  }
}

/* Large mobile / small tablet: 425px - 599px */
@media screen and (min-width: 425px) and (max-width: 599px) {
  .hamburger-menu {
    display: block;
    right: 18px;
    top: 16px;
  }
  .hamburger-menu button {
    border: none;
    background: transparent;
  }

  .main-nav {
    padding: 12px 20px;
  }
  .main-nav .logo {
    width: 50vw;
    margin-top: 12px;
  }

  .qoute button {
    display: none;
  }

  .menu-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.98);
    transform: translateX(-110%);
    transition: transform 0.45s ease;
    z-index: 90;
  }
  .menu-links.mobile-menu-link {
    transform: translateX(0);
  }
  .menu-links ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 36px;
    padding-top: 68px;
  }
  .menu-links ul li .link {
    font-size: 16px;
    color: #000;
    margin-left: 12px;
  }
  .faChevronDown {
    display: none;
  }
  #services-link {
    display: none;
  }
}
