@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@200;300;400;600;700&display=swap");

footer {
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */
  background: #1d242d;
  color: white;
  font-family: "Source Sans Pro";
}
.main-footer {
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
  /* width: 90%; */
  padding: 83px 144px;
}
.main-footer .box img {
  margin-bottom: 20px;
}
.box {
  /* border: 2px solid white; */
  /* width: 25%; */
  flex-grow: 1;
  flex-basis: 0;
  font-family: "Source Sans Pro";
}
.box h3 {
  text-align: left;
  margin-left: 18px;
  margin-bottom: 30px;
}
.main-footer .box p {
  font-size: 16px;
  line-height: 26px;
}
.main-footer .box,
.main-footer .box2 {
  padding: 2px 20px 1px 18px;
}
.main-footer .box2 h3 {
  text-align: left;
  margin-left: 31px;
}
.main-footer .box2 ul {
  margin-left: 11px;
}
.main-footer ul {
  padding: 0px 43px;
}
.main-footer ul li {
  /* padding: 16px 0px; */
  padding-bottom: 17px;
  font-weight: 600;
  font-size: 18px;
}
.main-footer ul li .footer-links {
  text-decoration: none;
  color: white;
  transition: linear 0.5s;
}
.main-footer ul li .footer-links:hover {
  color: #97b325;
}
.main-footer ul li .active {
  color: #97b325 !important;
  border-bottom: 0px solid transparent !important;
  padding-bottom: 0 !important;
}
.main-footer .box .address-header {
  padding-left: 17px;
  line-height: 23px;
  font-style: normal;
}
.copyright {
  text-align: center;
  background: black;
  font-family: "Montserrat";
  padding: 9px 0px;
  margin-top: 32px;
  font-family: "Source Sans Pro";
}
.copyright #microrage {
  text-decoration: none;
  color: white;
  transition: linear 0.5s;
}
.copyright #microrage:hover {
  color: #97b325;
}

.social-media .facebook-link {
  background-color: #3b5998;
  color: white;
  border-radius: 5px;
  font-size: 31px;
  width: 30px;
  height: 36px;
  margin-right: 10px;
}

.social-media .linkedin-link {
  background-color: #0077b5;
  color: white;
  border-radius: 5px;
  font-size: 31px;
  width: 30px;
  height: 36px;
}

@media screen and (max-width: 992px) {
  .main-footer {
    padding: 81px 17px 204px 17px;
    font-family: Montserrat;
  }
}

@media screen and (max-width: 669px) {
  .main-footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    padding: 74px 10px 60px 12px;
  }
  .main-footer .box img {
    width: 206px;
  }
  .main-footer .box2 {
    padding: 20px 17px;
    margin-bottom: 15px;
  }
  .main-footer ul {
    padding: 12px 1px;
  }
  .main-footer .box2 ul {
    margin-top: 20px;
    margin-left: 12px;
  }
  .main-footer .box2 ul .inner {
    /* margin-top: 20px; */
    /* margin-left: 12px; */
    /* display: inline; */
  }
  .main-footer .box h3,
  .main-footer .box2 h3 {
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .main-footer ul li {
    padding-bottom: 13px;
  }
  .main-footer ul li .footer-links {
    font-size: 18px;
  }
  .address {
    margin-top: 48px;
  }
  .main-footer .box .address-header {
    padding-left: 0px;
  }
  .social-media {
    margin-left: 0px;
  }
}

@media screen and (max-width: 421px) {
  .main-footer .box2 {
    padding: 20px 10px;
    margin-bottom: 0px;
    margin-top: 112px;
  }
  .main-footer .box2 ul {
    display: flex;
    margin-left: 12px;
    padding-left: 0px;
  }
  .main-footer ul li {
    padding-bottom: 15px;
  }
  .footer-links {
    font-size: 15px;
  }
  /* .main-footer:first-child{
        margin-bottom: 50px;
    } */
  .main-footer .address {
    margin-top: 0px;
  }
  .main-footer .box2 h3 {
    margin-bottom: 0px;
  }
  .main-footer .box2 ul .inner {
    /* margin-top: 20px; */
    margin-left: 40px;
    /* display: inline; */
  }
  .copyright {
    margin-top: 0px;
  }
}

@media screen and (max-width: 381px) {
  .main-footer .box2 {
    margin-top: 150px;
  }
  .main-footer .address {
    margin-top: 31px;
  }
  .copyright {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-footer {
    padding: 87px 85px 139px 85px;
  }
}
