@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@200;300;400;600;700&display=swap");

footer {
  /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; */
  background: #1d242d;
  color: white;
}
.main-footer {
  display: flex;
  align-items: center;
  /* border: 2px solid white; */
  /* width: 90%; */
  padding: 83px 120px;
}
.main-footer .box img {
  margin-bottom: 16px;
}
.box {
  /* border: 2px solid white; */
  /* width: 25%; */
  flex-grow: 1;
  flex-basis: 0;
  font-family: Montserrat;
}
.box h3 {
  text-align: left;
  margin-left: 18px;
  margin-bottom: 30px;
}
.main-footer .box p {
  font-size: 17px;
  line-height: 26px;
}
.main-footer .box,
.main-footer .box2 {
  padding: 2px 20px 1px 18px;
}
.main-footer .box2 h3 {
  text-align: left;
  margin-left: 31px;
}
.main-footer .box2 ul {
  margin-left: 11px;
}
.main-footer ul {
  padding: 0px 43px;
}
.main-footer ul li {
  /* padding: 16px 0px; */
  padding-bottom: 17px;
  font-weight: 600;
  font-size: 18px;
}
.main-footer ul li .footer-links {
  text-decoration: none;
  color: white;
  transition: linear 0.5s;
}
.main-footer ul li .footer-links:hover {
  color: #97b325;
}
.main-footer ul li .active{
  color: #97b325 !important;
  border-bottom: 0px solid transparent !important;
  padding-bottom: 0 !important;
}
.main-footer .box .address-header {
  padding-left: 17px;
  line-height: 23px;
}
.copyright {
  text-align: center;
  background: black;
  font-family: "Montserrat";
  padding: 9px 0px;
  margin-top: 32px;
}
.copyright #microrage {
  text-decoration: none;
  color: white;
  transition: linear 0.5s;
}
.copyright #microrage:hover {
  color: #97b325;
}

@media screen and (max-width: 992px) {
  .main-footer {
    padding: 81px 17px 204px 17px;
    font-family: Montserrat;
  }
}


@media screen and (max-width: 669px) {
  .main-footer {
    display: flex;
    align-items : flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    padding: 60px 10px;
  }
  .main-footer .box img{
    width: 206px;
  }
  .main-footer .box2 {
    padding: 20px 10px;
    margin-bottom: 15px;
  }
  .main-footer .box h3 , .main-footer .box2 h3{
    margin-left: 0px;
  }
  .main-footer ul {
    padding: 20px 24px;
  }
  .main-footer ul li {
    padding-bottom: 24px;
  }
  .address{
    margin-top: 90px;
  }
  .main-footer .box .address-header {
    padding-left:  0px;
  }
}

@media screen and (max-width: 421px) {
    .main-footer .box2{
        padding: 20px 10px;
        margin-bottom: 15px;
        margin-top: 112px;
    }
    .main-footer ul li {
        padding-bottom: 15px;
    }
    .footer-links {
        font-size: 15px;
    }
    /* .main-footer:first-child{
        margin-bottom: 50px;
    } */
    .main-footer .address {
        margin-top: 23px;
    }
    .main-footer .box2 h3 {
        margin-bottom: 0px;
    }
    .copyright {
        margin-top: 0px;
    }
}

@media screen and (max-width: 381px) {
    .main-footer .box2 {
        margin-top:  150px;
    }
    .main-footer .address {
        margin-top: 31px;
    }
}
